@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap");
@import url(https://fonts.googleapis.com/css?family=VT323);
.fadeout {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeout {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: radial-gradient(circle, #222244, #191e3c, #111a35, #0a162d, #041125);
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader img {
  width: 30%;
  height: auto;
  animation-name: sun;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sun {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.walking-icon {
  position: absolute;
  z-index: 90;
}

.walking-icon#walker-1 {
  height: auto;
  opacity: 0.5;
  filter: blur(2px);
  width: 325px;
  left: 2vw;
  top: 82vh;
}

.walking-icon#walker-2 {
  height: auto;
  opacity: 0.5;
  filter: blur(2px);
  width: 206px;
  left: 26vw;
  top: 71vh;
}

.walking-icon#walker-3 {
  height: auto;
  opacity: 0.5;
  filter: blur(2px);
  width: 312px;
  left: 43vw;
  top: 167vh;
}

.walking-icon#walker-4 {
  height: auto;
  opacity: 0.5;
  filter: blur(2px);
  width: 184px;
  left: 65vw;
  top: 15vh;
}

.walking-icon#walker-5 {
  height: auto;
  opacity: 0.5;
  filter: blur(2px);
  width: 294px;
  left: 83vw;
  top: 192vh;
}

* {
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden !important;
}

html {
  overflow-x: hidden;
}

html, body {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background: #080216;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #190645;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #330d8b;
  transition: .5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a0b74;
  transition: .5s;
}

#main-nav {
  transition: 1ss;
  background: rgba(0, 0, 0, 0.5) !important;
  font-weight: 400;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
  text-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
}

section {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

#landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  /*h1
        font-size: 3rem
        margin-bottom: 2rem */
  /*p
        font-size: 2rem */
  box-shadow: 0px -21px 34px 3px rgba(0, 0, 0, 0.7) inset;
}

#landing h1, #landing h2 {
  z-index: 10;
  margin: 0;
}

#landing .lines {
  position: fixed;
  width: 100vw;
  height: 4em;
  background: linear-gradient(rgba(89, 193, 254, 0.2) 20%, #59c1fe 40%, #59c1fe 60%, rgba(89, 193, 254, 0.2) 80%);
  background-size: 1px 0.5em;
  box-shadow: 0 0 1em rgba(89, 193, 254, 0.4);
  transform: translateY(-1em);
  left: 0;
}

#landing h1 {
  position: relative;
  font-family: 'Exo';
  font-size: 9em;
  margin: 0;
  transform: skew(-15deg);
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1400px) {
  #landing h1 {
    font-size: 8em;
  }
}

@media screen and (max-width: 1200px) {
  #landing h1 {
    font-size: 7em;
  }
}

@media screen and (max-width: 1000px) {
  #landing h1 {
    font-size: 6em;
  }
}

@media screen and (max-width: 1000px) {
  #landing h1::after {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  #landing h1 {
    font-size: 5em;
  }
}

@media screen and (max-width: 580px) {
  #landing h1 {
    font-size: 4em;
  }
}

#landing h1::after {
  content: '';
  position: absolute;
  top: -0.1em;
  right: 0.05em;
  width: 0.4em;
  height: 0.4em;
  background: radial-gradient(white 3%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.05) 60%, transparent 80%), radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50%/5% 100%, radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50%/70% 5%;
  background-repeat: no-repeat;
}

#landing h1 span:first-child {
  display: block;
  text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 5em #165ff3;
  -webkit-text-stroke: 0.06em rgba(0, 0, 0, 0.5);
}

#landing h1 span:last-child {
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
  -webkit-text-stroke: 0.01em #94a0b9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#landing h2 {
  font-family: 'Mr Dafoe';
  margin: 0;
  font-size: 5.5em;
  margin-top: -0.6em;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  transform: rotate(-7deg);
}

@media screen and (max-width: 1400px) {
  #landing h2 {
    font-size: 5em;
  }
}

@media screen and (max-width: 1200px) {
  #landing h2 {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 1000px) {
  #landing h2 {
    font-size: 4em;
  }
}

@media screen and (max-width: 880px) {
  #landing h2 {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 580px) {
  #landing h2 {
    font-size: 3em;
  }
}

#landing .grid {
  background: linear-gradient(transparent 65%, rgba(46, 38, 255, 0.4) 75%, #7d41e6 80%, rgba(46, 38, 255, 0.4) 85%, transparent 95%), linear-gradient(90deg, transparent 65%, rgba(46, 38, 255, 0.4) 75%, #7d41e6 80%, rgba(46, 38, 255, 0.4) 85%, transparent 95%);
  background-size: 30px 30px;
  width: 200vw;
  height: 300vh;
  position: absolute;
  bottom: -120vh;
  transform: rotateX(-100deg);
  -webkit-mask-image: linear-gradient(black, rgba(0, 0, 0, 0) 80%);
}

#landing .back {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/rw2.png") no-repeat center center;
  background-size: cover;
  image-rendering: crisp-edges;
  filter: blur(2px);
}

@media screen and (max-width: 750px) {
  #landing {
    display: none;
  }
}

#audio-suggestion {
  background: radial-gradient(circle, #222244, #191e3c, #111a35, #0a162d, #041125), url("./img/suggest.gif") no-repeat center center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 800;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0;
  text-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
}

#audio-suggestion h1, #audio-suggestion h2, #audio-suggestion p {
  margin: 0;
}

#audio-suggestion h1 {
  margin-bottom: .4rem;
  font-size: 3rem;
}

#audio-suggestion h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#audio-suggestion .buttons {
  margin-top: 80px;
}

#audio-suggestion .buttons button {
  margin-right: 40px;
  font-weight: 800;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0;
  text-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
  background: none;
  padding: 15px;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  box-shadow: 0px 0px 3px 1px white, 0px 0px 3px 1px white inset;
  border-radius: 3px;
}

#audio-suggestion .buttons button:hover {
  box-shadow: 0px 0px 4px 2px white, 0px 0px 4px 2px white inset;
}

#introduce {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 800;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0;
  text-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
  box-shadow: 0px -21px 34px 3px rgba(0, 0, 0, 0.7) inset;
}

#introduce h3, #introduce h4, #introduce p {
  margin: 0;
}

#introduce h3 {
  font-size: 3.2rem;
  margin-bottom: .5rem;
}

#introduce h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

#introduce p {
  font-size: 1rem;
  font-weight: 400;
}

#introduce .back {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/sw-1.jpg") no-repeat center center;
  background-size: cover;
  image-rendering: crisp-edges;
  filter: blur(0px);
}

#myself {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 800;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0;
  text-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
  box-shadow: 0px -21px 34px 3px rgba(0, 0, 0, 0.7) inset;
}

#myself h3, #myself h4, #myself p {
  margin: 0;
}

#myself h3 {
  font-size: 3.2rem;
  margin-bottom: .5rem;
}

#myself h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

#myself p {
  font-size: 1rem;
  font-weight: 400;
}

#myself .back {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/wall-3.jpg") no-repeat center center;
  background-size: cover;
  image-rendering: crisp-edges;
  filter: blur(0px);
}

#myself img {
  width: 400px;
  margin-bottom: 30px;
  box-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
}

#video {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 800;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0;
  text-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
}

#video h3, #video h4, #video p {
  margin: 0;
}

#video h3 {
  font-size: 3.2rem;
  margin-bottom: .5rem;
}

#video h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

#video p {
  font-size: 1rem;
  font-weight: 400;
}

#video .back {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#video .back video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#video .photo-cards {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#video .photo-cards .photo-card {
  text-decoration: none;
  color: white;
  margin-bottom: 40px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#video .photo-cards .photo-card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
}

#video .photo-cards .photo-card h5 {
  font-weight: 800;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0;
  text-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
}

#video p {
  font-size: 1.1rem;
}

#my-fave-games {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 800;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0;
  text-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
  box-shadow: 0px -21px 34px 3px rgba(0, 0, 0, 0.7) inset;
}

#my-fave-games h3, #my-fave-games h4, #my-fave-games p {
  margin: 0;
}

#my-fave-games h3 {
  font-size: 3.2rem;
  margin-bottom: .5rem;
}

#my-fave-games h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

#my-fave-games p {
  font-size: 1rem;
  font-weight: 400;
}

#my-fave-games .photo-cards {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#my-fave-games .photo-cards .photo-card {
  text-decoration: none;
  color: white;
  margin-bottom: 40px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#my-fave-games .photo-cards .photo-card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
}

#my-fave-games .photo-cards .photo-card h5 {
  font-weight: 800;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0;
  text-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
}

#my-fave-games .back {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/flare.jpg") no-repeat center center;
  background-size: cover;
  image-rendering: crisp-edges;
  filter: blur(2px);
}

#footer {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 0px -21px 34px 3px rgba(0, 0, 0, 0.7) inset;
}

#footer h3, #footer h4, #footer p {
  margin: 0;
}

#footer h3 {
  font-size: 3.2rem;
  margin-bottom: .5rem;
}

#footer h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

#footer p {
  font-size: 1rem;
  font-weight: 400;
}

#footer .back {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/footer.jpg") no-repeat center center;
  background-size: cover;
  image-rendering: crisp-edges;
  filter: blur(0);
}

#footer .footer-block {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#footer .footer-block a, #footer .footer-block h4, #footer .footer-block h5 {
  font-weight: 800;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0;
  text-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
}

@media screen and (max-width: 720px) {
  #footer {
    flex-direction: column;
  }
  #footer .left h4, #footer .middle h4, #footer .right h4 {
    font-size: 1.4rem;
    margin-bottom: .7rem;
  }
  #footer .left {
    margin-bottom: 20px;
  }
  #footer .middle {
    margin-bottom: 30px;
  }
}

.mega-flex .back {
  display: none;
}

.mega-flex .walking-icons {
  display: none;
}

.mega-flex body {
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/wall-3.jpg") no-repeat center center;
}

.mega-flex a, .mega-flex h2, .mega-flex h3, .mega-flex p, .mega-flex h4, .mega-flex h5 {
  animation-name: mega_flex !important;
  animation-direction: normal !important;
  animation-duration: 0.5s !important;
  animation-timing-function: ease !important;
  animation-iteration-count: infinite;
}

@keyframes mega_flex {
  from {
    text-shadow: 2px 0px 2px #ff0005, -2px 0px 2px #00ff04, 0px 0px 10px #317aff;
  }
  to {
    text-shadow: 5px 0px 5px #ff0005, -5px 0px 5px #00ff04, 0px 0px 20px #317aff;
  }
}
/*# sourceMappingURL=styles.css.map */