.walking-icon
    position: absolute
    z-index: 90
    &#walker-1   
        width: 300px
        height: auto
        opacity: 0.5
        filter: blur(2px)
        left: calc(100vw - 300px)
        top: 300px
